/**
 * Place your custom CSS styles here.
 **/

#ReadingLine {
    position: fixed;
    z-index: 1000;
    left:0;
    right:0;
    height: 26px;
    margin-top: -12px;
    background: rgba(125, 125, 125, 0.05);
    backdrop-filter: invert(5%);
    pointer-events: none;
}

#ReadingLine.hidden {
    display: none;
}